/* The side navigation menu */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    font-family: "Abhaya Libre";
    font-size: 20px;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }


 
  .Hamburger{
    display: none;
  }
.dropdown-item-1{
  border-top: 2px solid black;
}
  .dropdown:hover .dropdown-menu {
    display: block;
} 
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181 !important;
    display: block;
    transition: 0.3s;
  }

  .categoryham-{
    color: "white";
    font-size: 18px;
    margin-left: -20px;
    padding: 0px 32px 5px !important;
    font-family: "Abhaya Libre !important"
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: black;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  
  @media only screen and (max-width: 700px) {
    .Hamburger{
    display: block;
  }
  }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/*position of dropdown */
.hamberger {
  position: absolute;
  display: block;
}
/* set the size and position of button on web */
.hamberger-drop-button {
  padding: 10px 22px;
  font-size: 15px;
  border: none;
  }
